.content-wrapper {
  padding-top: 90px;
}

.sub-content-text {
  opacity: 0.6;
  color: rgba(255, 255, 255, 1);
  font-size: var(--fs-40);
}

.square-position-2 {
  // top: -26px;
  // left: -190px;
  top: 0px;
  left: 0px;
}
.square-position-3 {
  // top: -4px;
  // left: -192px;
  top: 0px;
  left: 0px;
}

Darw.square-position-4 {
  // top: 18px;
  // left: -194px;
  top: 0px;
  left: 0px;
}
.square-position-5 {
  // top: 39px;
  // left: -196px;
  top: 0px;
  left: 0px;
}
.privacy-title {
  font-size: var(--fs-40);
  color: var(--white);
}
